{% assign using-linklist = false %}
{% if linklists[settings.collection-listing-linklist] and linklists[settings.collection-listing-linklist].links.size > 0 %}
  {% assign using-linklist = true %}
{% endif %}

<header class="page-header">
  <h1>{{ 'collections.listing.header' | t }}</h1>
</header>

<div class="collection-list">
  {% if using-linklist %}
    {% for link in linklists[settings.collection-listing-linklist].links %}{% include 'collection-list-item' with 'linklist' %}{% endfor %}
  {% else %}
    {% for collection in collections %}{% include 'collection-list-item' %}{% endfor %}
  {% endif %}
</div>