{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<section>
			{% for post in posts %}
				{% include 'snippets/tease.twig' %}
			{% endfor %}
		</section>
	</div>
{% endblock %}
