$backgroundColor:white;

$font-normal:	'proxima nova';
$font-light:	'proxima nova light';
$font-bold:	'proxima nova semibold';
$font-icon:'FontAwesome';


/* #Font-Face
================================================== */
@font-face {
	font-family: 'FontAwesome';
	src: url('{{ "#{fontawesome-webfont}.eot" | asset_url }}');
	src: url('{{ "#{fontawesome-webfont}.eot?#iefix" | asset_url }}') format('embedded-opentype'),
	url('{{ "#{fontawesome-webfont}.woff2" | asset_url }}') format('woff2'),
	 url(' {{ "#{fontawesome-webfont}.woff" | asset_url }}') format('woff'),
		url(' {{ "#{fontawesome-webfont}.ttf" | asset_url }}') format('truetype'),
		url(' {{ "#{fontawesome-webfont}.svg#fontawesomeregular" | asset_url }}') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
		font-family: 'proxima nova light';
		src: url('{{ "#{ProximaNova-Light}.eot" | asset_url }}'); /* IE9 Compat Modes */
		src: url('{{ "#{ProximaNova-Light}.eot" | asset_url }}#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('{{ "#{ProximaNova-Light}.woff" | asset_url }}') format('woff'), /* Modern Browsers */
				url('{{ "#{ProximaNova-Light}.ttf" | asset_url }}')  format('truetype'), /* Safari, Android, iOS */
				url('{{ "#{ProximaNova-Light}.svg" | asset_url }}#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  200;
}
@font-face {
		font-family: 'proxima nova';
		src: url('{{ "#{ProximaNova-Regular}.eot" | asset_url }}'); /* IE9 Compat Modes */
		src: url('{{ "#{ProximaNova-Regular}.eot" | asset_url }}#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('{{ "#{ProximaNova-Regular}.woff" | asset_url }}') format('woff'), /* Modern Browsers */
							url('{{ "#{ProximaNova-Regular}.ttf" | asset_url }}')  format('truetype'), /* Safari, Android, iOS */
							url('{{ "#{ProximaNova-Regular}.svg" | asset_url }}#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  400;
}
@font-face {
		font-family: 'proxima nova semibold';
		src: url('{{ "#{ProximaNova-Semibold}.eot" | asset_url }}'); /* IE9 Compat Modes */
		src: url('{{ "#{ProximaNova-Semibold}.eot" | asset_url }}#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('{{ "#{ProximaNova-Semibold}.woff" | asset_url }}') format('woff'), /* Modern Browsers */
				url('{{ "#{ProximaNova-Semibold}.ttf" | asset_url }}')  format('truetype'), /* Safari, Android, iOS */
				url('{{ "#{ProximaNova-Semibold}.svg" | asset_url }}#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  600;
}
