@import "bourbon";
@import 'fonts';
@import "theme";

.icon:before {
	display: inline-block;
	vertical-align: middle;
	font-family: $font-icon;
	font-size:20px;
	line-height: 1;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

.icon-tumblr:before {content: "\74";}
.icon-facebook:before { content: "\66"; }
.icon-pinterest:before { content: "\70"; }
.icon-instagram:before {content: "\69";}
.icon-twitter:before {content: "\54";}
.icon-hamburger:before {content: "\e601";}
.icon-search:before { content: "\73";}
.icon-cart:before { font-size: 24px;content: "\e600";}



.quick_shop {
	display:none;
	padding: 6px 0;
	background-color: #555e5e;
	color:#ffffff;
	position: absolute;
	width: 130px;
	top: 45%;
	left: 50%;
	margin-left: -65px;
	cursor: pointer;
}

.quick_shop:hover {
	background-color: rgba(85, 94, 94, 0.5);
	color:#ffffff;
	cursor: pointer;
}

.modal {
	background-color: #FFFFFF;
	text-align:left;
	display:none;
	width: 840px;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
	box-shadow: 0 0 1px rgba(0, 0, 0, .25), 0 1px 5px 3px rgba(0, 0, 0, .05), 0 5px 4px -3px rgba(0, 0, 0, .06);
}

#close_overlay {
		position: fixed;
		right: 15px;
		top: 10px;
		z-index: 1000;
		cursor:pointer;
		font-size:20px;
		color: #666;
		font-family: sans-serif;
		font-weight:bold;
	}

	.close_overlay:hover {
		color: #fff
	}

	#lean_overlay {
		position: fixed;
		z-index:100;
		top: 0px;
		left: 0px;
		height:100%;
		width:100%;
		background: #fff;
		display: none;
	}
