$smallscreen: new-breakpoint(max-width 992px);
$mobile: new-breakpoint(max-width 768px);

body {
		font-family: 'proxima nova','Helvetica Neue',Helvetica,Arial,sans-serif;
		background: #ffffff;
		-webkit-font-smoothing: antialiased;
		font-size:14px
}
b, strong {
		font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* #Font-Face
================================================== */
@font-face {
		font-family: 'FontAwesome';
		src: url('fonts/fontawesome-webfont.eot');
		src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff') format('woff'),
		url('fonts/fontawesome-webfont.ttf') format('truetype'),
		url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'proxima nova light';
		src: url('fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  200;
}
@font-face {
		font-family: 'proxima nova';
		src: url('fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Regular.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  400;
}
@font-face {
		font-family: 'proxima nova semibold';
		src: url('fonts/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Semibold.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  600;
}
