$screen: new-breakpoint(min-width 768px);
$smallscreen: new-breakpoint(max-width 992px);
$mobile: new-breakpoint(max-width 480px 1);
$backgroundColor:#555e5e;

body {
		font-family: 'proxima nova','Helvetica Neue',Helvetica,Arial,sans-serif;
		background: #ffffff;
		-webkit-font-smoothing: antialiased;
		font-size:13px
}
b, strong {
		font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
}
p{
	font-size:1.2em;
	line-height: 1.4;
	@include media($mobile) {
		font-size:1em;
		line-height: 1.2;
	}
}

h1 {
	font-family: 'proxima nova light','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase!important;
	letter-spacing: 1.8pt!important;
	text-align: center!important;
	font-size:em(30);
	@include media($mobile) {
		font-size:em(26);
		letter-spacing: 1pt!important;
	}
}

h2 {
	font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase!important;
	letter-spacing: 1pt!important;
	text-align: center!important;
	font-size:em(28);
	@include media($mobile) {
		font-size:em(24);
		letter-spacing: 0.5pt!important;
	}
}

h3 {
	font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase!important;
	letter-spacing: 0.8pt;
	font-size: em(26);
	@include media($mobile) {
		font-size:em(22);
		letter-spacing: 0.4pt!important;
	}
}

h4 {
	font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase!important;
	letter-spacing: 0.18pt;
	font-size: em(21);
	@include media($mobile) {
		font-size:em(20);
		letter-spacing: 1pt!important;
	}
}
h5 {
	font-family: 'proxima nova light','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase!important;
	letter-spacing: 1pt!important;
	text-align: center!important;
	font-size: em(18);
	@include media($mobile) {
		font-size:em(16);
		letter-spacing: 0.5pt!important;
	}
}

.white {
	color:white!important
}
.black {
	color:black!important
}
.grey {
	color:$backgroundColor!important;
}
.colored {
	background-color:$backgroundColor!important;
	color:white!important
}
.transparent {
	background:white!important;
	color:black!important
}
.justify {
	text-align:justify!important;
}
.text-center {
	text-align: center!important;
}
.tracking {
	letter-spacing: 0.05em
}
.uppercase {
	text-transform: uppercase!important;
	letter-spacing: 0.18pt;
}
.semibold {
		font-family: 'proxima nova semibold','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.regular {
		font-family: 'proxima nova','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a, a:link, a:visited {
		color: #fff;
		text-decoration: none;
		@include transition(all ease-in-out);
		font-family: 'proxima nova';
		opacity: 0.8;
}
a:hover {
	opacity: 1!important
}

span.semibold {
	line-height: 22px;
	letter-spacing: 0.5pt
}
.page_item, .nav-item {
	font-size:em(18);
	@include media($mobile) {
		font-size:em(15);
	}
}
.current_page_item:not(.nav-item) a {
	border-bottom:2px solid white;
	padding-bottom: 2px;
}
.page_item:not(.nav-item) a:hover {
	border-bottom:2px solid white;
	padding-bottom: 2px;
}

.glyph {
				font-family: 'FontAwesome';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
}

.arrow-down:before {
				content: "\f078";
}

.circle {
	margin: -13px -2px;
	position: absolute;
	font-size: 4px;
	color:white
}
.circle:before {
	content: "\f111";
}
.plus, .minus {
	font-size: 0.9em;
	position: relative;
	margin-left: 5px;
}
.minus:before {
	content: "\f068";
}
.plus:before {
	content: "\f067";
}
/* #Font-Face
================================================== */
@font-face {
		font-family: 'FontAwesome';
		src: url('fonts/fontawesome-webfont.eot');
		src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff') format('woff'),
		url('fonts/fontawesome-webfont.ttf') format('truetype'),
		url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'proxima nova light';
		src: url('fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  200;
}
@font-face {
		font-family: 'proxima nova';
		src: url('fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Regular.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  400;
}
@font-face {
		font-family: 'proxima nova semibold';
		src: url('fonts/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
		src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
							url('fonts/ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
							url('fonts/ProximaNova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
							url('fonts/ProximaNova-Semibold.svg#00408f2b5f50ac35631d9f676cb29e44') format('svg'); /* Legacy iOS */

		font-style:   normal;
		font-weight:  600;
}
