{% paginate collection.products by settings.products-per-page %}

<div class="header-image">
	{% if collection.image %}
		<div class="header-background" style="background-image:url('{{ collection.image.src | img_url: 'master' }} ')"></div>
	{% endif %}

	<div class="container header-caption">
		<div class="inner">
				{{ collection.description }}
			</div>
		</div>
</div>

	<div class="container content" role="main">

		{% if collection.all_tags.size > 0 and settings.display-tags-dropdown and collection.handle %}
		<div class="collection-sorting">
			{% include 'collection-sorting' %}
		</div>
		{% endif %}

		<div class="product-listing rows-of-{{ settings.products-per-row }}">
			{% for product in collection.products %}
				{% include 'product-list-item' %}
			{% else %}
				<span class="empty">{{ 'collections.collection.empty' | t }}</span>
			{% endfor %}
			<script type="text/javascript">
				(function($){$.fn.extend({leanModal:function(_1){var _2={top:34,overlay:0.6};_1=$.extend(_2,_1);return this.each(function(){var o=_1;$(this).click(function(e){var _3=$("<div id='lean_overlay'></div><span id='close_overlay'>X</span>");var _4=$(this).data("rel");$("body").append(_3);$("#lean_overlay, #close_overlay").click(function(){_5(_4);});var _6=$(_4).outerHeight();var _7=$(_4).outerWidth();$("#lean_overlay").css({"display":"block",opacity:0});$("#lean_overlay, #close_overlay").fadeTo(200,o.overlay, function() { $("#close_overlay").css({opacity:1})});if($(_4).hasClass('modal_product')){$(_4).css({"position":"fixed"});}else{$(_4).css({"position":"fixed"});};$(_4).css({"display":"block",opacity:0,"z-index":11000,"left":50+"%","margin-left":-(_7/2)+"px","top":o.top+"px"});$(_4).fadeTo(200,1);e.preventDefault();});});function _5(_8){$("#lean_overlay, #close_overlay").fadeOut(200).remove();$(_8).css({"display":"none"});};}});})(jQuery);

				$('.thumbnail').hover(function(){
					$(this).children('.quick_shop').show();
				}, function(){
					$(this).children('.quick_shop').hide();
				})
				$(".quick_shop").leanModal();
			</script>
		</div>

		{% if paginate.previous or paginate.next %}
			{% include 'pagination' %}
		{% endif %}

	</div>

{% endpaginate %}
