
<!-- start content page -->
  <div id="page" class="shopify">
    <section class="colored">
      <div class="container">
        <div class="grid">
          <h2>{{ pages[settings.homepage].title }}</h2>
          {{ pages[settings.homepage].content }}
        </div>
      </div>
    </section>
  </div>
<!-- end content page -->
