<div class="twitter-widget grid-wrap clearfix">
  {% if settings.twitter-title != blank %}<h4 class="section-title">{{ settings.twitter-title }}</h4>{% endif %}
  <div class="twitter-tweet"></div>
</div>